[submodule "bundle/numbers.vim"]
	path = bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "bundle/vim-seek"]
	path = bundle/vim-seek
	url = https://github.com/goldfeld/vim-seek.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
